.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.column {
    flex-direction: column;
    flex-basis: 100%;
    padding: 10px;
}

.grid-image {
    padding: 10px;
    width: 100%;
}
